body{
    font-family: 'Archivo', sans-serif;
}

/* Exercise 1 */

h4,
h1{
    font-family: 'Playfair Display', serif;
}

div.menu {
    background-color: rgb(41, 67, 104);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
}

button {
    height: 25px;      /*высота*/
    width: 120px;      /*ширина*/
    margin: 2px;       /*отступы по высоте*/
    position: relative;
    border-radius: 10px /*скругление*/
}

#but:hover {
    background-color: rgb(244, 254, 44);
    
}

/* Exercise 2 */

form{
    width: 400px;
    margin: auto;
    box-shadow: 0 4px 16px rgb(0, 0, 0);
    font-family: sans-serif;
    letter-spacing: 1px;;
}

form > p, a, h1 {
    padding: 20px;
    margin: 5px;
    position: relative;
    
}

img {
    width: 100%;
}

/* Exercise 3 */

div.new_forms {
    width: 900px;
    display: flex;
    text-overflow: hidden;
    object-position: top;
}

.article1, .article2 {
    height: 700px;
    
}

.article1 > p, .article2 > p {
    display: -webkit-box;
    -webkit-line-clamp: 8;
    -webkit-box-orient: vertical;  
    overflow: hidden;
}