body{
    font-family: 'Archivo', sans-serif;
}

/* Exercise 1 */

h4,
h1{
    font-family: 'Playfair Display', serif;
}

div.obertka_menu {
    display: flex;
    justify-content: center;
    align-items: center;
}

div.menu {
    background-image: url('nkhDigibg-03.png');
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    width: 180px;
    flex-direction: column;
    border-radius: 15px;
    box-shadow: 0 4px 16px rgb(0, 0, 0);
}

button {
    height: 35px;      /*высота*/
    width: 140px;      /*ширина*/
    margin: 2px;       /*отступы по высоте*/
    position: relative;
    border-radius: 20px /*скругление*/
}

#but:hover {
    background-color: rgb(30, 30, 30);
    border-color: rgb(255, 0, 0);
    color: rgb(255, 0, 0);
    font-weight: bold;
    text-shadow: 3px 3px 20px rgb(208, 208, 208);
    font-size: 15px;
}

/* Exercise 2 */

/* обертка блока со статьей */
div.obertka1 {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* обертка статьи */
div.article{
    width: 350px;
    box-shadow: 0 4px 16px rgb(0, 0, 0);
    font-family: sans-serif;
    letter-spacing: 1px;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

div > h1, p, a {
    padding: 1px 20px;   /*отступы по высоте и по длине*/
    margin: 10px;
}

img {
    width: 350px;
    height: 350px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

/* Exercise 3 */

div.new_forms {
    display: flex;
    object-position: top;
    position: relative;
    justify-content: center;
    align-items: center;
}

.article1, .article2 {
    height: 600px;
    width: 350px;
    margin: 10px;
    box-shadow: 0 4px 16px rgb(0, 0, 0);
    border-radius: 10px;
    
}

.article1 > p, .article2 > p {
    display: -webkit-box;
    -webkit-line-clamp: 8;
    -webkit-box-orient: vertical;  
    overflow: hidden;
}

/* Exercise 4 */

div.weight {
    font-size: large;
    font-weight: bold;
}
